
@{ 
    Layout = "_Admin";
}

        <!-- partial -->

        <div class="main-panel">
            <div class="content-wrapper">





                <!-- partial -->
                <!-- this is form-->

                <form method="post"  asp-controller="Adminadd" asp-action="Index">

                    <a  type="button" class="btn btn-info btn-fw" asp-controller="Adminadd" asp-action="Index" style="height:50px; width:20px;">
                        <i class="mdi mdi-account"></i>New Admin
                    </a>
                </form>
                <h2>
                    Admin details

                </h2>



                <div class="col-lg-20 grid-margin stretch-card" style="overflow-y: auto; height: 600px;">
                    <div class="card">
                        <div class="card-body">

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th> ID </th>
                                        <th> Email </th>
                                        <th> fullname </th>
                                        <th> Address </th>
                                        <th> Contact no  </th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in ViewBag.datas)
                                    {
                                    <tr>
                                        <td> @item.id </td>
                                        <td> @item.email </td>
                                        <td>
                                            @item.fullname
                                        </td>
                                        <td> @item.address </td>
                                        <td> @item.contactno</td>
                                        <td> <input type="submit" value="Update" class="btn btn-primary submit-btn btn-block" />&nbsp; <input type="submit" value="Delete" class="btn btn-primary submit-btn btn-block" /> </td>

                                    </tr>
                                    }

                                   

                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>




                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 <a href="https://www.facebook.com/step2solution.02" target="_blank">Step2 Solution</a>. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                            Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i>
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
   